a{
    text-decoration: none;
    color: $couleur__lien;
    &:hover{
        color: rgba($color: #000000, $alpha: 0.7);
    }
    &:visited{
        color: rgba($color: #000000, $alpha: 0.3);
    }
    &:focus{
        color: rgba($color: #000000, $alpha: 0.5);
    }

    @media screen and (max-width: $point__rupture){
        font-size: x-large;
    }
}